<!DOCTYPE html>
<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="UTF-8">
	<title>Chatbot</title>

	<link rel="icon" type="image/png" href="images/bot.png" />

	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

	<link rel="stylesheet" href="stylesheets/normalize.min.css">
	<link rel='stylesheet' href='stylesheets/jquery.mCustomScrollbar.min.css'>

	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/fontawesome-stars.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/ion.rangeSlider.css">
	<link rel="stylesheet" href="stylesheets/ion.rangeSlider.skinHTML5.css">

	<link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
	<div class="chat-title">
		<h1>5008 - Configuration</h1>
	</div>
	<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 style="font-size:25px" class="modal-title">My preferences</h4>
				</div>
					<div class="modal-body">
							<div class="form-group">
								 <label style="font-size:18px" for="energie_popup">Energy</label>
								 <select class="form-control" id="energie_popup">
									 <option value="Essence">Gasoline</option>
									 <option value="Diesel">Diesel</option>
								 </select>
						 	</div>
							<div class="form-group">
								 <label style="font-size:18px" for="bv_popup">Gearbox</label>
								 <select class="form-control" id="bv_popup">
									 <option value="Manual">Manual</option>
									 <option value="Automatic">Automatic</option>
								 </select>
						 	</div>
					  	<div class="form-group">
						    <label style="font-size:18px" for="budget_popup">Budget</label>
						    <input type="text" id="budget_popup" name="budget_popup" value="" />
					  	</div>
					</div>
					<div class="modal-footer">
						<button id="submit_popup" class="btn btn-primary btn-lg">Submit</button>
					</div>
			</div>
		</div>
	</div>
	<div class="left">
		<div class="chat">
			<div class="messages">
				<div class="messages-content">
				</div>
			</div>
			<div id="msg-box" class="message-box">
				<textarea type="text" class="message-input" placeholder="Type it..."></textarea>
				<button type="submit" class="btn btn-md message-submit" style="position: absolute;outline: none;z-index: 1;top: 9px;right: 10px;background: #1976d2;border: none; padding: 6px 10px;color: white;">SEND</button>
			</div>
		</div>
		<div class="bg"></div>
	</div>

	<div class="right">
		<div class="panel panel-primary">
			<div class="panel-body" style="margin-top: 70px;padding-right:10px; padding-left:10px;">
				<div class="row justify-content-center" style="margin-bottom:10px;">
					<div class="col-md-4" style="padding-bottom:10px;">
						<div class="card">
							<div class="card-header" style="font-size:18px">Budget</div>
							<div class="card-body">
								<p class="card-text" style="font-size: 14px;" id="budget">Not specified</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header" style="font-size:18px">Energy</div>
							<div class="card-body">
								<p class="card-text" style="font-size: 15px;" id="energie">Not specified</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header" style="font-size:15px">Gearbox</div>
							<div class="card-body">
								<p class="card-text" style="font-size: 15px;" id="bv">Not specified</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-sm-3" style="padding-bottom:10px;">
						<div class="card text-white mb-3 text-center" style="background-color: #1976d2;">
							<div class="card-body">
								<h5 class="card-text">Look</h5>
									<div class="br-wrapper br-theme-fontawesome-stars">
										<div class="br-widget" id="look">
											<a data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a>
											<a data-rating-value="2" data-rating-text="2" class=""></a>
											<a data-rating-value="3" data-rating-text="3" class=""></a>
											<a data-rating-value="4" data-rating-text="4" class=""></a>
											<a data-rating-value="5" data-rating-text="5" class=""></a>
											<div class="br-current-rating">1</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3" style="padding-bottom:10px;">
						<div class="card text-white mb-3 text-center" style="background-color: #1976d2;">
							<div class="card-body">
								<h5 class="card-text">Comfort</h5>
									<div class="br-wrapper br-theme-fontawesome-stars">
										<div class="br-widget" id="confort">
											<a data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a>
											<a data-rating-value="2" data-rating-text="2" class=""></a>
											<a data-rating-value="3" data-rating-text="3" class=""></a>
											<a data-rating-value="4" data-rating-text="4" class=""></a>
											<a data-rating-value="5" data-rating-text="5" class=""></a>
											<div class="br-current-rating">1</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card text-white mb-3 text-center" style="background-color: #1976d2;">
							<div class="card-body">
								<h5 class="card-text">Multimedia</h5>
								<div class="br-wrapper br-theme-fontawesome-stars">
									<div class="br-widget" id="navigation">
										<a data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a>
										<a data-rating-value="2" data-rating-text="2" class=""></a>
										<a data-rating-value="3" data-rating-text="3" class=""></a>
										<a data-rating-value="4" data-rating-text="4" class=""></a>
										<a data-rating-value="5" data-rating-text="5" class=""></a>
										<div class="br-current-rating">1</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card text-white mb-3 text-center" style="background-color: #1976d2;">
							<div class="card-body">
								<h5 class="card-text">Assistance</h5>
								<div class="br-wrapper br-theme-fontawesome-stars">
									<div class="br-widget" id="assistance">
										<a data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a>
										<a data-rating-value="2" data-rating-text="2" class=""></a>
										<a data-rating-value="3" data-rating-text="3" class=""></a>
										<a data-rating-value="4" data-rating-text="4" class=""></a>
										<a data-rating-value="5" data-rating-text="5" class=""></a>
										<div class="br-current-rating">1</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="result_car" align="center">
					<img src="images/5008AccessWhite.jpg" class="img-responsive center-block"/>
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-sm-4">
						<div class="card text-white mb-3" style="background-color: #63a4ff;">
							<div class="card-body">
								<h5 class="card-text text-center" id="watson_finition">Model</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-4" style="padding-bottom:10px;">
						<div class="card text-white mb-3 text-center" style="background-color: #63a4ff;">
							<div class="card-body">
								<h5 class="card-text" id="watson_delai">Time limit</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card text-white mb-3 text-center" style="background-color: #63a4ff;">
							<div class="card-body">
								<h5 class="card-text" id="watson_prix">Price</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src='javascripts/jquery-3.3.1.min.js'></script>
<script src='javascripts/jquery.mCustomScrollbar.min.js'></script>
<script src="javascripts/jquery.barrating.min.js"></script>
<script src="javascripts/ion.rangeSlider.js"></script>
<script src="javascripts/umd/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>


<script>

var $messages = $('.messages-content'), d, h, m, i = 0;
var from = 27000;
var to = 55000;
var bv = '';
var energie = '';
var first_message = true;

var saveResult = function (data) {
    from = data.from;
    to = data.to;
};

$(document).ready(function() {
	$("#budget_popup").ionRangeSlider({
			type: "double",
	    min: 27000,
	    max: 55000,
	    grid: true,
	    grid_num: 5,
			step: 100,
			from: from,
    	to: to,
			onLoad: function (data) {
	        saveResult(data);
	    },
	    onChange: saveResult,
	    onFinish: saveResult
	});
	$('#myModal').modal('show');
	$messages.mCustomScrollbar();
});

$('#submit_popup').click(function() {
	bv = $( "#bv_popup option:selected" ).text();
	energie = $( "#energie_popup option:selected" ).text();
	if(energie == 'Gasoline') {
		energie = 'Essence'
	}
	$( "#budget" ).html(from+"€ - "+to+"€");
	$( "#energie" ).html(energie);
	$( "#bv" ).html(bv);
	$('#myModal').modal('hide');
	sendMessage("hello");
});

$('.message-submit').click(function() {
	msg = $('.message-input').val();
	sendMessage(msg);
});

$(window).on('keydown', function(e) {
	if (e.which == 13) {
		msg = $('.message-input').val();
		sendMessage(msg);
		return false;
	}
});

function updateScrollbar() {
	$messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
		scrollInertia: 10,
		timeout: 0
	});
}

function sendMessage(msg) {
	$.ajax({
		type: "POST",
		url: "/",
		data: {
			input: msg,
			bv: bv,
			energie: energie,
			from: from,
			to: to,
		},
		dataType: 'json',
		success: function (res) {
			console.log(res);
			insertMessage(msg, res)
		},
		error: function (data) {
			console.log('Error:', data);
		}
	});
}

function insertMessage(msg,res) {
	var time_to_rep = 1000 + + (Math.random() * 20) * 100;
	if ($.trim(msg) == '') {
		return false;
	}
	if(!first_message) {
		time_to_rep = 100;
		$('<div class="message message-personal">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
		$('.message-input').val(null);
		updateScrollbar();
	} else {
		first_message = false;
	}
	setTimeout(function() {
		if ($('.message-input').val() != '') {
			return false;
		}
		$('<div class="message loading new"><figure class="avatar"><img src="images/bot.png" /></figure><span></span></div>').appendTo($('.mCSB_container'));
		updateScrollbar();
		var message = res[0];
		var type = res[1];
		var data = res[2];
		if (type == "find_priority") {
			findPriority(res)
		} else if (type == "display_data") {
			displayData(data);
		}
		displayMessage(message);
	}, time_to_rep);
}

function findPriority (res) {
	setTimeout(function() {
		var name_image = res[2].name_image;
		var justifications = res[2].justifications;
		console.log(justifications);
		var button = '';
		for (var i=0; i<justifications.length ; i++) {
			console.log(justifications[i].text,justifications[i].justification);
			button += '<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="'+justifications[i].justification+'">'+justifications[i].text,+'</button>';
		}
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
		$("#msg-box").addClass('invisible');
		$('.message.loading').remove();
		if (name_image != '') {
			$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +

			'<br /><p class="small">Safety<select id="Safety" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Comfort and convenience<select id="Comfort_and_Convenience" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">In-car entertainment and communication<select id="In_Car_Entertainment_and_Communication" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Interior features<select id="Interior_Features" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Exterior features<select id="Exterior_Features" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Exterior lighting and visibility<select id="Exterior_Lighting_and_Visibility" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Seating<select id="Seating" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<button id="validate" class="btn btn-md btn-success" style="background: #248A52;">DONE</button>' +
			'</div>').appendTo($('.mCSB_container')).addClass('new');

			$( ".result_car" ).remove();
			$('<div class="result_car" align="center"><img src="'+name_image+'" class="img-responsive center-block" /><br />' + button + '</div>').appendTo($('.panel-body'));
		} else {
			$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +

			'<br /><p class="small">Safety<select id="Safety" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Comfort and convenience<select id="Comfort_and_Convenience" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">In-car entertainment and communication<select id="In_Car_Entertainment_and_Communication" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Interior features<select id="Interior_Features" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Exterior features<select id="Exterior_Features" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Exterior lighting and visibility<select id="Exterior_Lighting_and_Visibility" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<p class="small">Seating<select id="Seating" class="rating small"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></p>'+

			'<button id="validate" class="btn btn-md btn-success" style="background: #248A52;">DONE</button>' +
			'</div>').appendTo($('.mCSB_container')).addClass('new');
		}



		$('.rating').barrating({
			theme: 'fontawesome-stars'
		});
		$( "#validate").click(function() {
			info = [];
			var Safety = document.getElementById("Safety");
			info[0] = Safety.options[Safety.selectedIndex].value;
			var Comfort_and_Convenience = document.getElementById("Comfort_and_Convenience");
			info[1] = Comfort_and_Convenience.options[Comfort_and_Convenience.selectedIndex].value;
			var In_Car_Entertainment_and_Communication = document.getElementById("In_Car_Entertainment_and_Communication");
			info[2] = In_Car_Entertainment_and_Communication.options[In_Car_Entertainment_and_Communication.selectedIndex].value;
			var Interior_Features = document.getElementById("Interior_Features");
			info[3] = Interior_Features.options[Interior_Features.selectedIndex].value;
			var Exterior_Features = document.getElementById("Exterior_Features");
			info[4] = Exterior_Features.options[Exterior_Features.selectedIndex].value;
			var Exterior_Lighting_and_Visibility = document.getElementById("Exterior_Lighting_and_Visibility");
			info[5] = Exterior_Lighting_and_Visibility.options[Exterior_Lighting_and_Visibility.selectedIndex].value;
			var Seating = document.getElementById("Seating");
			info[6] = Seating.options[Seating.selectedIndex].value;

			$("#msg-box").removeClass('invisible');
			$("#validate").remove();
			$.ajax({
				type: "POST",
				url: "/giveinfo",
				data: {input: {
					Safety : info[0],
					Comfort_and_Convenience : info[1] ,
					In_Car_Entertainment_and_Communication : info[2],
					Interior_Features : info[3],
					Exterior_Features : info[4],
					Exterior_Lighting_and_Visibility : info[5],
					Seating : info[6]
				}},
				dataType: 'json',
				success: function (resultat) {
					if ($('.message-input').val() != '') {
						return false;
					}
					$('<div class="message loading new"><figure class="avatar"><img src="images/bot.png" /></figure><span></span></div>').appendTo($('.mCSB_container'));
					updateScrollbar();
					setTimeout(function() {
						$('.message.loading').remove();
						$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + resultat[0].output.text[0] +
						'</div>').appendTo($('.mCSB_container')).addClass('new');
						updateScrollbar();
						i++;
					}, 1000 + (Math.random() * 20) * 100);
				},
				error: function (data) {
					console.log('Error:', data);
				}
			});
		});
		updateScrollbar();
		i++;
	}, 1000 + (Math.random() * 20) * 100);
}

function displayMessage (message) {
	setTimeout(function() {
		$('.message.loading').remove();
		$('<div class="message new"><figure class="avatar"><img src="images/bot.png" /></figure>' + message +
		'</div>').appendTo($('.mCSB_container')).addClass('new');
		updateScrollbar();
		i++;
	}, 1000 + (Math.random() * 20) * 100);
}

function displayData (data) {
		$( "#watson_finition" ).html(data[0].modele);
		$( "#watson_delai" ).html(data[0].delai + " days");
		$( "#watson_prix" ).html(data[0].prix + " euros");
}

</script>

</body>

</html>
